includes:
    - vendor/worksome/coding-style/phpstan.neon

parameters:
    paths:
        - src
        - tests

    level: 9

    ignoreErrors:
        -
            message: '#Call to an undefined method Pest\\Expectation.*#'
            identifier: method.notFound
        -
            message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::\$app#'
            identifier: property.notFound
