name: Release
on:
  release:
    types:
      - released

jobs:
  publish-to-brew-tap:
    name: Publish to Brew Tap
    runs-on: ubuntu-latest
    steps:

      - name: Generate App Token
        uses: actions/create-github-app-token@v2
        id: generate_token
        with:
          app-id: ${{ secrets.WORKSOME_INTERNAL_APP_ID }}
          private-key: ${{ secrets.WORKSOME_INTERNAL_PRIVATE_KEY }}
          repositories: worksome/homebrew-tap

      - name: Get version
        id: version
        run: |
          TAG="${{ github.event.release.tag_name }}"
          echo "tag=${TAG#v}" >> $GITHUB_OUTPUT

      - name: Trigger Homebrew Tap Update
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Trigger Formula
          repo: worksome/homebrew-tap
          ref: main
          token: ${{ steps.generate_token.outputs.token }}
          inputs: |
            {
                "name": "graphlint",
                "version": "${{ steps.version.outputs.tag }}",
                "download-url": "https://github.com/worksome/graphlint/releases/download/${{ github.event.release.tag_name }}/graphlint"
            }
