name: Static Analysis

on:
  push:
    paths:
      - '**.php'
      - 'phpstan.neon.dist'
      - '.github/workflows/static.yml'
  pull_request:
    branches: [main]

jobs:
  static_analysis:
    timeout-minutes: 30
    name: '${{ matrix.actions.name }} on PHP ${{ matrix.php }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.4', '8.5' ]

        actions:
          - name: ECS
            run: "composer ecs"

          - name: PHPStan
            run: "composer phpstan"

          - name: Rector
            run: "composer rector"

          - name: Composer validate
            run: "composer validate"

    env:
      APP_NAME: "Worksome CI"
      APP_ENV: testing

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php }}
          tools: cs2pr

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - run: ${{ matrix.actions.run }}
